<div class="app">
  <header>
    <div class="intro">
      <img src="assets/foto-casal.jpg" alt="Foto do Casal">
      <h1>Carolina e Rodrigo</h1>
      <p>23 de novembro de 2024</p>
    </div>
  </header>

  <main>
    <section class="local">
      <h2>Local da Cerimônia</h2>
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d653.9489604179429!2d-47.43595346121809!3d-22.00004498921701!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94c800bc30a1a885%3A0xc86fc739bf757f41!2sIgreja%20Nossa%20Senhora%20Do%20Ros%C3%A1rio!5e0!3m2!1spt-BR!2sbr!4v1716687359049!5m2!1spt-BR!2sbr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      <h2>Local da Festa</h2>
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d777.6483579450745!2d-47.44167500249012!3d-22.005952193833792!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94c800a5020ae25b%3A0xfa50276ef88792a9!2sAssocia%C3%A7%C3%A3o%20Atl%C3%A9tica%20Banco%20Brasil!5e0!3m2!1spt-BR!2sbr!4v1716687431400!5m2!1spt-BR!2sbr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>    </section>

    <section class="hospedagem">
      <h2>Hospedagem Recomendada</h2>
      <div class="hotel">
        <h3>Hotel Premium Pirassununga</h3>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7398.528334944552!2d-47.44316771289054!3d-22.001186886604465!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94c800bde6514547%3A0xc0e0408028e6a4a2!2sHotel%20Premium%20Pirassununga!5e0!3m2!1spt-BR!2sbr!4v1716687520979!5m2!1spt-BR!2sbr" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>        <p>Endereço: Av. Dr. Celso Daniel, 100 - Centro, Pirassununga - SP, 13960-000</p>
        <a href="https://www.hotelpremiumpirassununga.com.br/" target="_blank">Site do Hotel</a>
      </div>
